.wrap {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space;around;
    background:black;
    height:100vh;
}
*, body {
    margin:0;
    padding:0;
}
.container {
    display:flex;
    align-items:center;
    flex-direction:column;
}
img {
    height:100%;
    width:100%;
    object-fit:contain;
}
.wrap_center {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:50px;
    max-width:100%;
}
.slider {
    height:80vh;
    border:1px solid black;
    margin:30px auto;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:10px;
    overflow:hidden;
}
.slider-line {
    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
    transition: all ease 1s;
}
.slider__img {
    min-width:100%;
}

